html{
    font-family: 'Times New Roman', Times, serif;
margin: 10px 50px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
h2{
    color: black;
    font-style: italic;
}
.introduction-aside{
display: block;
background-color: red;
width: 30%;
text-align: center;
color: white;
padding: 50px 25px;   
border: 10px solid black;
margin-bottom: 60px;
}