div {
    height: 350px;
    width: 400px;
    background-color: #f5f5f5;
}
p.one {
    height: 75%;
    width: 75%;
    background-color: #f5f5f5;
}
p.one {
    border-top-width: 4px;
    border-right-width: 6px;
    border-bottom-width: 10px;
    border-left-width: 1px;
    border-style: outset;
}