h1{
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
h2{
    color: black;
    font-style: italic;
}
.introduction{
font-family:'Times New Roman', Times, serif, sans-serif; font-size: 16px;}
.introduction aside{background-color: white;
width: 30%;
float: right;
padding: 10px;
margin-left: 10px;
margin-bottom: 10px;}
@media (max-width: 991px){
    .introduction aside{
        background-color: red;
        color: black;
        float: unset;
        width: 75%;
        margin: 0 auto;
        padding: 25px;   
    }
}