#boxes {
    content: "";
    display: table;
    clear: both;
}
div {
    float: left;
    height: 470px;
    width: 23%;
    padding: 0 10px;
}
#column1 {
    background-color: #f5f5f5;
}
#column2 {
    background-color: rgb(179,136,102);
}
#column3 {
    background-color: #f5f5f5;
}